.App {
  clear: both;
  background-color:#ccc;

}

.header {
  text-align: center;
  background-color: grey;
}

.xyz {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
  
}

.abc {
  padding: 20px;
  width: 70%;
  background-color: #ccc;
  height: 300px; /* only for demonstration, should be removed */
}

.displayForcasts {
  background-color: grey
}

.card{
  background-color: rgb(163, 140, 144);
  width : 30%;
}